doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.menuBrick
      a(href=`/dashboard`) Dashboard
      a.readMeLnk(href=`/`) README.md

    block content

    div.footBrick
      
